## Telecom Customer Churn- Data Analysis

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import datetime
%matplotlib inline

### Get Data
>- Data is taken from IBM sample dataset.

In [20]:
df=pd.read_csv('C:/Users/manda/Downloads/Telco_customer_churn.csv')

In [21]:
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [22]:
df.shape

(7043, 33)

### EDA

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

### For Basic Data Insights I am going to create a Tableau Dashboard. So for that I will check and prepare the data.

In [27]:
df['Churn Value'].value_counts()#No of churn customers

0    5174
1    1869
Name: Churn Value, dtype: int64

In [35]:
dfc=df[df['Churn Value']==1]

### Preparing dataframe of churn customers only. And compare this with complete data to find the features responsible for Churn.

In [58]:
df.City.value_counts()

Los Angeles       305
San Diego         150
San Jose          112
Sacramento        108
San Francisco     104
                 ...
Healdsburg          4
Jenner              4
Philo               4
Point Arena         4
Olympic Valley      4
Name: City, Length: 1129, dtype: int64

In [37]:
dfc.City.value_counts()

Los Angeles      90
San Diego        50
San Francisco    31
San Jose         29
Sacramento       26
                 ..
Aromas            1
Stinson Beach     1
Mill Valley       1
Inverness         1
El Centro         1
Name: City, Length: 833, dtype: int64

In [95]:
dfc['Churn Reason'].value_counts()

Attitude of support person                   192
Competitor offered higher download speeds    189
Competitor offered more data                 162
Don't know                                   154
Competitor made better offer                 140
Attitude of service provider                 135
Competitor had better devices                130
Network reliability                          103
Product dissatisfaction                      102
Price too high                                98
Service dissatisfaction                       89
Lack of self-service on Website               88
Extra data charges                            57
Moved                                         53
Limited range of services                     44
Long distance charges                         44
Lack of affordable download/upload speed      44
Poor expertise of phone support               20
Poor expertise of online support              19
Deceased                                       6
Name: Churn Reason, dtype: int64

In [96]:
df.Gender.value_counts()

Male      3555
Female    3488
Name: Gender, dtype: int64

In [39]:
dfc.Gender.value_counts()

Female    939
Male      930
Name: Gender, dtype: int64

In [42]:
dfc['Senior Citizen'].value_counts()

No     1393
Yes     476
Name: Senior Citizen, dtype: int64

In [53]:
df['Senior Citizen'].value_counts()

No     5901
Yes    1142
Name: Senior Citizen, dtype: int64

In [43]:
dfc.Partner.value_counts()

No     1200
Yes     669
Name: Partner, dtype: int64

In [44]:
dfc.Dependents.value_counts()

No     1763
Yes     106
Name: Dependents, dtype: int64

In [46]:
dfc['Tenure Months'].value_counts()

1     380
2     123
3      94
4      83
5      64
     ...
60      6
72      6
62      5
64      4
63      4
Name: Tenure Months, Length: 72, dtype: int64

In [48]:
dfc['Phone Service'].value_counts()

Yes    1699
No      170
Name: Phone Service, dtype: int64

In [49]:
df['Phone Service'].value_counts()

Yes    6361
No      682
Name: Phone Service, dtype: int64

In [51]:
dfc['Multiple Lines'].value_counts()

Yes                 850
No                  849
No phone service    170
Name: Multiple Lines, dtype: int64

In [52]:
df['Multiple Lines'].value_counts()

No                  3390
Yes                 2971
No phone service     682
Name: Multiple Lines, dtype: int64

In [54]:
df['Internet Service'].value_counts()

Fiber optic    3096
DSL            2421
No             1526
Name: Internet Service, dtype: int64

In [55]:
dfc['Internet Service'].value_counts()

Fiber optic    1297
DSL             459
No              113
Name: Internet Service, dtype: int64

In [56]:
df['Online Security'].value_counts()

No                     3498
Yes                    2019
No internet service    1526
Name: Online Security, dtype: int64

In [57]:
dfc['Online Security'].value_counts()

No                     1461
Yes                     295
No internet service     113
Name: Online Security, dtype: int64

### Based on above analysis we found that features like City, Gender and Partner are not affecting Churn values but features like Senior Citizen, Dependent, Phone service, Multiple lines etc. does affect the Churn values.
>- I am going to prepare new dataframe with these features value as 0 and 1 (Yes=1,otherwise=0) and do further analysis on Tableau.

In [92]:
#these are all the columns I am going to create
newcl=['ons', 'is', 'ml', 'ps', 'sc','p', 'd', 'obp', 'dp', 'st', 'sm', 'plb','Churn Value']

In [65]:
df['ons']=(df['Online Security']=='Yes').astype(int)

In [86]:
df['sm']=(df['Streaming Movies']=='Yes').astype(int)

In [ ]:
#more coding like this, I apparently deleted other cells for other columns but yeah its similar

In [87]:
#after creating columns, our dataframe look like this.
df

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,ml,ps,sc,p,d,obp,dp,st,sm,plb
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,0,1,0,0,0,1,0,0,0,1
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,0,1,0,0,1,0,0,0,0,1
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,1,1,0,0,1,0,1,1,1,1
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,1,1,0,1,1,0,1,1,1,1
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,1,1,0,0,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,1,United States,California,Landers,92285,"34.341737, -116.539416",34.341737,-116.539416,Female,...,0,1,0,0,0,0,0,0,0,1
7039,6840-RESVB,1,United States,California,Adelanto,92301,"34.667815, -117.536183",34.667815,-117.536183,Male,...,1,1,0,1,1,0,1,1,1,1
7040,2234-XADUH,1,United States,California,Amboy,92304,"34.559882, -115.637164",34.559882,-115.637164,Female,...,1,1,0,1,1,1,1,1,1,1
7041,4801-JZAZL,1,United States,California,Angelus Oaks,92305,"34.1678, -116.86433",34.167800,-116.864330,Female,...,0,0,0,1,1,0,0,0,0,1
7042,3186-AJIEK,1,United States,California,Apple Valley,92308,"34.424926, -117.184503",34.424926,-117.184503,Male,...,0,1,0,0,0,0,1,1,1,1

In [97]:
#ons is online security
#is is internet service
#ml is multiple lines
#ps is phone service
#sc is senior citizen
#p is partner
#d is dependent
#obp is online backup
#dp is device protection
#st streaming tv
#sm streaming movies
#plb is paperless billing

In [88]:
df.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason', 'ons', 'is', 'ml', 'ps', 'sc',
       'p', 'd', 'obp', 'dp', 'st', 'sm', 'plb'],
      dtype='object')

In [93]:
df[newcl].to_excel('C:/Users/manda/Downloads/Newtelcodf.xlsx')

### Now I am going to use this excel file and original dataset for Tableau  Dashboard.